html {
	background-color: #000;
}

body {
	margin: 0;
	padding: 5px;
	font-family: sans;
	font-size: 12px;
	color: #eee;
	height: 100vh;
	box-sizing: border-box;
}

.button {
	border: 1.5px solid #eee;
	border-radius: 4px;
	padding: 3px;
	box-shadow: 1px 1px #777;
	cursor: pointer;
}

#fileUp {
	display: none;
}
